<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="windows-1251">
  <title>Web Forum</title>
  <style>
	.thread-insides {
		display: flex;
		align-items: flex-start;
		font-size: 16px;
	}

	.thread-avatar {
		border-radius: 100px;
		width: 56px;
		margin-right: 15px;
		max-width: 100%;
	}

	.thread-header span {
		color: #657786;
		margin-left: 5px;
	}

	.thread-insides p {
		margin-top: 5px;
	}
</style>
</head>
<body>

  <header>
    <div class="site-title">Бончуслуги</div>
    <div class="search-box">
      <input type="text" placeholder="Поиск...">
    </div>
    <div class="auth-buttons">
      <a href="/signin">Войти</a>
      <a href="/signup">Регистрация</a>
    </div>
  </header>

  <div class="thread-list">
	{{ range .Threads }}
		{{ template "thread" . }}
	{{end}}
  </div>
</body>
</html>
